In [1]:
import pandas as pd

In the cell below, create a DataFrame fruits that looks like this:

    Apple Banana
0    30    21

In [2]:
fruits = pd.DataFrame({'Apples':[30],
                      "Bananas":[21]})
fruits

   Apples  Bananas
0      30       21

In [3]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales

Create a dataframe fruit_sales that matches the diagram below:
Apples	Bananas
2017 Sales	35	21
2018 Sales	41	34

In [4]:
fruit_sales = pd.DataFrame({'Apples':[35 , 41],
                      "Bananas":[21 , 34]},
                          index = ["2017 Sales" , "2018 Sales"])

In [7]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34