In [1]:
import pandas as pd

In the cell below, create a DataFrame fruits that looks like this:

    Apple Banana
0    30    21

In [2]:
fruits = pd.DataFrame({'Apples':[30],
                      "Bananas":[21]})
fruits

   Apples  Bananas
0      30       21

In [3]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales

Create a dataframe fruit_sales that matches the diagram below:

          Apples	Bananas
2017 Sales	35	    21
2018 Sales	41	    34

In [8]:
fruit_sales = pd.DataFrame({'Apples':[35 , 41],
                      "Bananas":[21 , 34]},
                          index = ["2017 Sales" , "2018 Sales"])

In [9]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

Create a variable ingredients with a Series that looks like:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [11]:
ingredients = pd.Series(['4 cups' , '1 cup' , '2 large' , '1 can'] , index = ['Flour','Milk','Eggs','Spam'] , name = "Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Run the cell below to create and display a DataFrame called animals:

In [12]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

Create a variable ingredients with a Series that looks like:
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: objec

In [16]:
ingredients = pd.Series(['4 cups' , '1 cup' , '2 large' , '1 can'] , index = ['Flour','Milk','Eggs','Spam'] , name = "Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Run the cell below to create and display a DataFrame called animals:

In [17]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name cows_and_goats.csv.

In [18]:
animals.to_csv('cows_and_goats.csv')